.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Прозрачно-серый фон */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Чтобы модальное окно было поверх всего */
}

.modal-content {
    background-color: white;
    margin: 0 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    min-width: 300px;
}

.modal-images {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 1rem 0;
    justify-content: center;
    max-height: 400px;
    overflow-y: auto;
}

.preview-image {
    width: auto;
    height: auto;
    max-width: none;
    max-height: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.modal-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.modal-btn {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.confirm-btn {
    background-color: #ff4444;
    color: white;
}

.confirm-btn:hover {
    background-color: #cc0000;
}

.cancel-btn {
    background-color: #ccc;
    color: black;
}

.cancel-btn:hover {
    background-color: #999;
}